@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"  />
</head>

<body>
<div class="container">
    <div class="form-box active">
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />

            <div class="forgot-password-link">
                <a asp-action="ForgotPassword">Forgot Password?</a>
            </div>

            <button class="btn" type="submit">Login</button>

            <p>
                Don't have an account?
                <a asp-action="Register" class="register-link">Register</a>
            </p>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (TempData["Success"] != null)
{
    <script>
        Swal.fire({
            title: 'SUCCESS!',
            html: '@Html.Raw(TempData["Success"])',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
}

@if (TempData["Error"] != null)
{
    <script>
        Swal.fire({
            title: 'ERROR!',
            html: '@Html.Raw(TempData["Error"])',
            icon: 'error',
            confirmButtonText: 'Thử lại'
        });
    </script>
}
</body>