@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #cbd5e1, #a5b4fc);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #6884d3;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
     color: #7494ec;
     text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.forgot-link {
    text-align: center;
    margin-bottom: 20px;
}

.forgot-link a {
    font-size: 14px;
    color: #7494ec;
    text-decoration: none;
}

.forgot-link a:hover {
    text-decoration: underline;
}
