@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color)); /*testing, somehow this doesnt affect the site???*/
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h2 {
    font-size: 34px;
    font-weight: var(--weight-extra-bold);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--primary-color);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: var(--weight-semibold);
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: var(--secondary-color);
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--secondary-color);
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--text-color);
}

p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: var(--weight-bold);
}

p a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.forgot-password-link {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password-link a {
    font-size: 0.9em;
    color: var(--text-color);
    text-decoration: none;
    font-weight: var(--weight-semibold);
}
.forgot-password-link a:hover {
    text-decoration: underline;
    color: #5a78d6;
}