@model cuahang.Models.SanPham
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h3>Chi tiết sản phẩm</h3>

<div class="card p-3">
    <h4>@Model.TenSP</h4>
    <p>Giá: @Model.Gia.ToString("N0") VNĐ</p>
    <p>Số lượng: @Model.SoLuongTon</p>
    <p>Mô tả: @Model.MoTa</p>

    <img src="~/image/@Model.ImageUrl" width="200" />

    <br /><br />
    <a asp-action="Manage" class="btn btn-secondary">Quay lại</a>
</div>